<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>EAssetClient</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdditionServlet</display-name>
    <servlet-name>AdditionServlet</servlet-name>
    <servlet-class>com.servlets.AdditionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdditionServlet</servlet-name>
    <url-pattern>/AdditionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisposalServlet</display-name>
    <servlet-name>DisposalServlet</servlet-name>
    <servlet-class>com.servlets.DisposalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisposalServlet</servlet-name>
    <url-pattern>/DisposalServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegServlet</display-name>
    <servlet-name>RegServlet</servlet-name>
    <servlet-class>com.servlets.RegServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegServlet</servlet-name>
    <url-pattern>/RegServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllocDeallocServlet</display-name>
    <servlet-name>AllocDeallocServlet</servlet-name>
    <servlet-class>com.servlets.AllocDeallocServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllocDeallocServlet</servlet-name>
    <url-pattern>/AllocDeallocServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReportServlet</display-name>
    <servlet-name>ReportServlet</servlet-name>
    <servlet-class>com.servlets.ReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportServlet</servlet-name>
    <url-pattern>/ReportServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReserveServlet</display-name>
    <servlet-name>ReserveServlet</servlet-name>
    <servlet-class>com.servlets.ReserveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReserveServlet</servlet-name>
    <url-pattern>/ReserveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReminderServlet</display-name>
    <servlet-name>ReminderServlet</servlet-name>
    <servlet-class>com.servlets.ReminderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReminderServlet</servlet-name>
    <url-pattern>/ReminderServlet</url-pattern>
  </servlet-mapping>
</web-app>